.upload-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.add-message form textarea{
    width: 50%;
    padding: 25px;
    border-radius: 7px;
    font-size: 20px;
    
   
}
.image-field{
    
    width: 10%;
    padding: 15px;
    margin-left: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    
    text-align: center;
    background-color: rgb(219, 219, 225);
}
.status-submit{
    width: 20%;
    margin: 15px auto;
    padding: 25px!important;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    
}
